ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page {
    background-color: #16161a;
    border-radius: 25px;
    width: 300px;
    padding-bottom: 30px;
    @include tablet {
        width: 450px;
    }
}

.closeContainer {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.pageList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageItem {
    background-color: #7f5af0;
    color: #fffffe;
    width: 80%;
    border-radius: 25px;
    margin: 10px 0;
    padding: 0 15px;
}